# Tuples
* Tuples are just like python list except they are immutable
* You cannot add, delete, and change/modify elements after the creation of tuple

In [2]:
tple = (1, 2, 3, 4, True, "Hello", 7.9)
print(tple)
print(type(tple))

(1, 2, 3, 4, True, 'Hello', 7.9)
<class 'tuple'>

In [3]:
tple1 = 1,2
print(type(tple1))

<class 'tuple'>

In [4]:
tple = (1, 2, 3, 4, True, "Hello", 7.9)
tple[2] = 30
print(tple)

TypeError: 'tuple' object does not support item assignment

In [5]:
dimension = (500, 100)
print(dimension[1])

100

In [6]:
print(len(dimension))

2

In [10]:
dimension = (500, 100)
del(dimension)

In [12]:
dimension = (500, 100, 30)
print(dimension)

dimension = (900, 100, 200)
print(dimension)

(500, 100, 30)
(900, 100, 200)

In [19]:
listt = [1, 2, 3, 4, 5, 6]
print(type(listt))

listt[2] = 30
listt.append(2)
print(listt)



tple = (1, 2, 3, 4, 5, 6)
print(type(tple))

#tple[2] = 30
tple.append(2)

<class 'list'>
[1, 2, 30, 4, 5, 6, 2]
<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

# for loop

In [36]:
fruits = ["mango", "grapes", "apple", "kiwi"]
for fruit in fruits:
    print(f"{fruit} is very sweet {fruit}")

mango is very sweet mango
grapes is very sweet grapes
apple is very sweet apple
kiwi is very sweet kiwi

In [22]:
numbers = [1, 2, 3, 4, 5, 6, 7]
for elem in numbers:
    print(elem)

1
2
3
4
5
6
7

In [25]:
# break keyword
numbers = [1, 2, 3, 4, 5, 6, 7]
for elem in numbers:
    print("under for" + str(elem))
    if elem == 5: #true
        print("Element " + str(elem))
        break

under for1
under for2
under for3
under for4
under for5
Element 5

In [26]:
# continue keyword

numbers = [1, 2, 3, 4, 5, 6, 7]
for elem in numbers:
    if elem % 2 == 0:
        continue
    print(elem)

1
3
5
7

## Range()

In [27]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [30]:
for num in range(5, 21, 2): # (start, end, step)
    print(num)

5
7
9
11
13
15
17
19

In [31]:
#reverse loop numbering
for num in range(10, 1, -2):
    print(num)

10
8
6
4
2

In [32]:
# using range() to make a list
numbers = list(range(30))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [34]:
even_numbers = list(range(2, 31, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [35]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Nested For Loop

In [26]:
for i in range(1,11):
    for j in range(1,11):
        #print multilication
        print(i*j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [27]:
rows = 5

#outer loop
for i in range(1,rows+1):
    #inner loop
    for j in range(1, i+1):
        print("*", end= ' ')
    print()

*
* *
* * *
* * * *
* * * * *

## Generating Single Table

In [28]:
table_number = int(input("Enter Table Number = "))

for num in range(1,11):
    print(f"{table_number} * {num} = {table_number*num}")

Enter Table Number = 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

## Generating multiple tables

In [3]:
table = int(input("Enter the range of tables"))

for table in range(1,table+1):
    print(f"Table of {table}")
    for num in range(1,11):
        #print(f"{table} * {num} = {table*num}")
        print(str(table) + " * " + str(num) + " = " + str(table*num))

Enter the range of tables5
Table of 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [5]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
        for a_last_name in last_names:
            full_names.append(a_first_name + " " + a_last_name)

print(full_names)

['BlueRay  Zzz', 'BlueRay  Burp', 'BlueRay  Dogbone', 'BlueRay  Droop', 'Upchuck  Zzz', 'Upchuck  Burp', 'Upchuck  Dogbone', 'Upchuck  Droop', 'Lojack  Zzz', 'Lojack  Burp', 'Lojack  Dogbone', 'Lojack  Droop', 'Gizmo  Zzz', 'Gizmo  Burp', 'Gizmo  Dogbone', 'Gizmo  Droop', 'Do-Rag  Zzz', 'Do-Rag  Burp', 'Do-Rag  Dogbone', 'Do-Rag  Droop']

## Changing case

In [6]:
name = "Pakistan zindabad"

print(name.upper())
print(name.lower())
print(name.title())

PAKISTAN ZINDABAD
pakistan zindabad
Pakistan Zindabad